run = "npm run dev"
hidden = [".config", "package-lock.json", "tsconfig.json"]

[packager]
language = "nodejs"
  [packager.features]
  enabledForHosting = false
  packageSearch = true
  guessImports = true

[nix]
channel = "stable-24_05"

[env]
XDG_CONFIG_HOME = "$REPL_HOME/.config"
PATH = "$REPL_HOME/node_modules/.bin:$REPL_HOME/.config/npm/node_global/bin"
npm_config_prefix = "$REPL_HOME/.config/npm/node_global"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", ".config"]

[languages]
  [languages.typescript]
  pattern = "**/{*.ts,*.js,*.tsx,*.jsx,*.json}"
    [languages.typescript.languageServer]
    start = "typescript-language-server --stdio"

[deployment]
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5555
externalPort = 8099

[[ports]]
localPort = 32807
externalPort = 8080

[[ports]]
localPort = 33987
externalPort = 5000

[[ports]]
localPort = 35655
externalPort = 3000

[[ports]]
localPort = 36133
externalPort = 3003

[[ports]]
localPort = 36241
externalPort = 8081

[[ports]]
localPort = 36843
externalPort = 3001

[[ports]]
localPort = 37177
externalPort = 6000

[[ports]]
localPort = 37907
externalPort = 8000

[[ports]]
localPort = 40539
externalPort = 4200

[[ports]]
localPort = 41427
externalPort = 9000

[[ports]]
localPort = 42893
externalPort = 3002

[[ports]]
localPort = 43685
externalPort = 6800

[[ports]]
localPort = 45391
externalPort = 5173

[[ports]]
localPort = 46021
externalPort = 8008
